{% load static %}

</div>
<!-- END wrapper -->

<script>
  var resizefunc = [];
</script>

<!-- Plugins  -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/detect.js' %}"></script>
<script src="{% static 'assets/js/fastclick.js' %}"></script>
<script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'assets/js/jquery.blockUI.js' %}"></script>
<script src="{% static 'assets/js/waves.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'plugins/switchery/switchery.min.js' %}"></script>

<!-- Counter Up  -->
<script src="{% static 'plugins/waypoints/lib/jquery.waypoints.js' %}"></script>
<script src="{% static 'plugins/counterup/jquery.counterup.min.js' %}"></script>

<!-- circliful Chart -->
<script src="{% static 'plugins/jquery-circliful/js/jquery.circliful.min.js' %}"></script>
<script src="{% static 'plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>

<!-- skycons -->
<script src="{% static 'plugins/skyicons/skycons.min.js' %}" type="text/javascript"></script>

<!-- Page js  -->
<script src="{% static 'assets/pages/jquery.dashboard.js' %}"></script>

<!-- Custom main Js -->
<script src="{% static 'assets/js/jquery.core.js' %}"></script>
<script src="{% static 'assets/js/jquery.app.js' %}"></script>


<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('.counter').counterUp({
        delay: 100,
        time: 1200
    });
    $('.circliful-chart').circliful();
  });

  // BEGIN SVG WEATHER ICON
  if (typeof Skycons !== 'undefined'){
      var icons = new Skycons(
        {"color": "#00b19d"},
        {"resizeClear": true}
      ),
          list  = [
              "clear-day", "clear-night", "partly-cloudy-day",
              "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
              "fog"
          ],
          i;

      for(i = list.length; i--; )
        icons.set(list[i], list[i]);
      icons.play();
  };

</script>

</body>
</html>
