{% load static %}

<!-- Top Bar Start -->
<div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <a href="{% url 'default:index' %}" class="logo">
               <img src="{% static 'images/icons/logo.png' %}" width="24" />

               <span>CuChair</span> </a>
        </div>
    </div>

    <!-- Navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="pull-left">
                    <button class="button-menu-mobile open-left waves-effect">
                        <i class="md md-menu"></i>
                    </button>
                    <span class="clearfix"></span>
                </div>

                <ul class="nav navbar-nav hidden-xs">
                  <!--
                  <li><a href="{% url 'default:news_index' %}" class="waves-effect">News</a></li>
                    <li><a href="{% url 'default:support_index' %}" class="waves-effect">Support</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle waves-effect" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">Projects <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Projects two</a></li>
                            <li><a href="#">Graphic design</a></li>
                            <li><a href="#">Projects four</a></li>
                        </ul>
                    </li>
                  -->
                </ul>
                <!--
                <form role="search" class="navbar-left app-search pull-left hidden-xs">
                     <input type="text" placeholder="Search..." class="form-control app-search-input">
                        <a href=""><i class="fa fa-search"></i></a>
                </form>
                -->
                <ul class="nav navbar-nav navbar-right pull-right">

                    <li class="dropdown hidden-xs">
                      <!--
                        <a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light"
                           data-toggle="dropdown" aria-expanded="true">
                            <i class="md md-notifications"></i> <span
                                class="badge badge-xs badge-pink">1</span>
                        </a>
                        --
                        <ul class="dropdown-menu dropdown-menu-lg">
                            <!--
                            <li class="text-center notifi-title">Notification</li>
                            <li class="list-group nicescroll notification-list">
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="pull-left p-r-10">
                                            <em class="fa fa-bell-o noti-success"></em>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading">Updates</h5>
                                            <p class="m-0">
                                                <small>
                                                    CuChair CFP Service <span class="text-primary">2</span> coming up soon.
                                                </small>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <!-- list item-->
                                <!--
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="pull-left p-r-10">
                                            <em class="fa fa-diamond noti-primary"></em>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading">A new order has been placed A new
                                                order has been placed</h5>
                                            <p class="m-0">
                                                <small>There are new settings available</small>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                -->
                                <!-- list item-->
                                <!--
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="pull-left p-r-10">
                                            <em class="fa fa-cog noti-warning"></em>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading">New settings</h5>
                                            <p class="m-0">
                                                <small>There are new settings available</small>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                -->
                                <!-- list item-->
                                <!--
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="pull-left p-r-10">
                                            <em class="fa fa-bell-o noti-success"></em>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading">Updates</h5>
                                            <p class="m-0">
                                                <small>There are <span class="text-primary">2</span> new
                                                    updates available
                                                </small>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            -->
                            <!--
                            <li>
                                <a href="javascript:void(0);" class=" text-right">
                                    <small><b>See all notifications</b></small>
                                </a>
                            </li>
                          -->
                        </ul>
                    </li>
                    <!--
                    <li class="hidden-xs">
                        <a href="#" class="right-bar-toggle waves-effect waves-light"><i
                                class="md md-settings"></i></a>
                    </li>
                    -->

                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<!-- Top Bar End -->
