{% extends "default/index2.html" %}
{% load static %}
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
      <!-- Start content -->
      <div class="content">
          <div class="container">

              <!-- Page-Title -->
              <div class="row">
                  <div class="col-sm-12">
                      <div class="page-title-box">
                          <ol class="breadcrumb pull-right">
                            <li><a href="{% url 'default:index' %}">Home</a></li>
                              <li class="active">News</li>
                          </ol>
                          <h4 class="page-title">News</h4>
                      </div>
                  </div>
              </div>


              <div class="row">
                  <div class="col-sm-12">
                      <div class="text-center">
                        <div class="text-center">
                            <a href="{% url 'default:index' %}" class="logo-lg">
                              <img src="{% static 'images/icons/logo.png' %}" width="48" />
                               <span>CuChair News</span> </a>
                        </div>

                          <p class="text-muted"> This page shows all news. If you would like to see only recent news, click on "Recent news" in the context menu.</p>

                          <!--
                          <button type="button" class="btn btn-success waves-effect waves-light m-t-10">Email us your question</button>
                          <button type="button" class="btn btn-primary waves-effect waves-light m-t-10">Send us a tweet</button>
                          -->

                      </div>
                  </div><!-- end col -->
              </div>


              <div class="row m-t-40">
                  <div class="col-lg-9 center-page">
                      <div class="m-t-30">

                        <hr>

                        <div class=" p-t-10">
                            <h5 class="text-primary m-b-5">CU launches a news conference chair CFP Service</h5>
                            <!-- <p class="">October 20, 2017</p> -->
                            <p><b>October 20, 2017</b></p>

                            <p class="text-muted font-13 m-b-0">
                              CuChair launched a call for papers service for conferences
                            </p>
                        </div>

                        <hr>

                        <div class=" p-t-10">
                            <h5 class="text-primary m-b-5">CU launches a news conference chair CFP Service</h5>
                            <!-- <p class="">October 20, 2017</p> -->
                            <p><b>October 21, 2017</b></p>

                            <p class="text-muted font-13 m-b-0">
                              The design of EasyChair home pages has changed
                            </p>
                        </div>

                        <hr>

                        <div class=" p-t-10">
                            <h5 class="text-primary m-b-5">CU launches a news conference chair CFP Service</h5>
                            <!-- <p class="">October 20, 2017</p> -->
                            <p><b>October 21, 2017</b></p>

                            <p class="text-muted font-13 m-b-0">
                              CuChair ready to launch
                        </div>
                      </div>
                  </div>
              </div>


          </div>
          <!-- end container -->

      </div>
      <!-- end content -->
{% endblock %}
