<div class="tab-pane" id="profile">
    <div class="row">
        <div class="col-sm-4">
            <div class="gal-detail thumb">
                <a href="#" class="image-popup" title="Screenshot-2">
                    <img src="assets/images/gallery/1.jpg" class="thumb-img" alt="work-thumbnail">
                </a>
                <h4 class="text-center">Gallary Image</h4>
                <div class="ga-border"></div>
                <p class="text-muted text-center"><small>Photography</small></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="gal-detail thumb">
                <a href="#" class="image-popup" title="Screenshot-2">
                    <img src="assets/images/gallery/2.jpg" class="thumb-img" alt="work-thumbnail">
                </a>
                <h4 class="text-center">Gallary Image</h4>
                <div class="ga-border"></div>
                <p class="text-muted text-center"><small>Photography</small></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="gal-detail thumb">
                <a href="#" class="image-popup" title="Screenshot-2">
                    <img src="assets/images/gallery/3.jpg" class="thumb-img" alt="work-thumbnail">
                </a>
                <h4 class="text-center">Gallary Image</h4>
                <div class="ga-border"></div>
                <p class="text-muted text-center"><small>Photography</small></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="gal-detail thumb">
                <a href="#" class="image-popup" title="Screenshot-2">
                    <img src="assets/images/gallery/4.jpg" class="thumb-img" alt="work-thumbnail">
                </a>
                <h4 class="text-center">Gallary Image</h4>
                <div class="ga-border"></div>
                <p class="text-muted text-center"><small>Photography</small></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="gal-detail thumb">
                <a href="#" class="image-popup" title="Screenshot-2">
                    <img src="assets/images/gallery/5.jpg" class="thumb-img" alt="work-thumbnail">
                </a>
                <h4 class="text-center">Gallary Image</h4>
                <div class="ga-border"></div>
                <p class="text-muted text-center"><small>Photography</small></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="gal-detail thumb">
                <a href="#" class="image-popup" title="Screenshot-2">
                    <img src="assets/images/gallery/6.jpg" class="thumb-img" alt="work-thumbnail">
                </a>
                <h4 class="text-center">Gallary Image</h4>
                <div class="ga-border"></div>
                <p class="text-muted text-center"><small>Photography</small></p>
            </div>
        </div>
    </div>
</div>
